= render 'layouts/return'

%h1
  -if @task.status
    %span(class="glyphicon glyphicon-ok-circle green")
  -else
    %span(class="glyphicon glyphicon-remove-circle red")
  = @task.summary
  = render 'rate'

.children-wrapper
  .child
    .row
      = @task.description
