.text-center
  %h1 Your children:

.children-wrapper
  -@children.each do |child|
    .list-group
      .list-group-item
        <strong>Name: </strong>
        = link_to child.name, parent_child_path(@parent.id, child.id)
        .pull-right
          <strong>Age: </strong>
          = child.age
  = link_to "Add child", new_parent_child_path(@parent.id), class: "btn btn-success btn-block"
