%nav.navbar.navbar-default
  .navbar-container
    .navar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = link_to "Children Supervisor", root_path
    .collapse.navbar-collapse#bs-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        - if parent_signed_in?
          %li
            = link_to "Sign Out", destroy_parent_session_path, method: :delete
        - else
          %li
            = link_to "Sign Up", new_parent_registration_path
          %li
            = link_to "Log In", new_parent_session_path
